:root {
    --dark-color: #393b45;
    --hover-color: lavender;
    --square-border: 4px solid var(--dark-color);
    --square-size: 100px;
    --fonts: sans-serif;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-color);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    width: calc(var(--square-size) * 3);
    height: calc(var(--square-size) * 3);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.square {
    height: var(--square-size);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    cursor: pointer;
    user-select: none;
}

.square:hover {
    background-color:var(--hover-color);
}

.square:not(:nth-child(3n)) {
    border-right: var(--square-border);
}

.square:not(:nth-last-child(-n + 3)) {
    border-bottom: var(--square-border);
}

#reset {
    padding: 10px 20px;
    font-weight: 600;
    color: var(--dark-color);
    background-color: transparent;
    border: 2px var(--dark-color) solid;
    border-radius: 9px;
    cursor: pointer;
    user-select: none;
}

#reset:hover {
    background-color:var(--hover-color);
}

.containerPadding {
    padding-top: 30px;
    padding-bottom: 30px;
}

#message {
    font-size: 1em;
    font-weight: 600;
}